# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build/packaging
build/
dist/
*.egg-info/

# Coverage/test cache
.coverage
.pytest_cache/
.tox/

# Temp
*.tmp
*.swp

# RA4: ignore all in Aprenentatge_Supervisat_1 except notebook
RA4/Jupyter_Notebook/Aprenentatge_Supervisat/Aprenentatge_Supervisat_1/*
!RA4/Jupyter_Notebook/Aprenentatge_Supervisat/Aprenentatge_Supervisat_1/test.ipynb
